.cardPhotoLike {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--black);
}

.cardPhotoLike:hover {
  outline: 2px solid var(--orange);
  outline-offset: 2px;
}
