.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #c0f0f0;
  z-index: 10;
}

.headerContainer {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

@media (min-width: 768px) {
  .headerContainer {
    padding: 0 30px;
  }
}
