.photoWrapper {
  padding-top: 62px;
  width: max-content;
  display: grid;
  max-width: 100%;
  grid-template-columns: 1fr;
  grid-template-areas:
    'photo'
    'controls'
    'author';
  gap: 20px;
  margin: 0 auto 15px;
}

@media (min-width: 560px) {
  .photoWrapper {
    padding-top: 8px;
  }
}

@media (min-width: 1024px) {
  .photoWrapper {
    padding-top: 0;
  }
}

.photoPicture {
  justify-self: center;
  grid-area: photo;
}

.photoAuthor {
  grid-area: author;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15px;
  color: var(--blue);
}

.photoAuthor:hover {
  color: var(--orange);
  text-decoration: underline;
}

.photoInfo {
  grid-area: controls;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.photoLike {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 5px;
  border: 1px solid var(--greyBF);
  font-weight: 500;
}

.photoLike:hover {
  border-color: var(--orange);
}

@media (min-width: 768px) {
  .photoAuthor {
    justify-content: space-evenly;
  }
}

@media (min-width: 768px) {
  .photoWrapper {
    grid-template-areas:
      'photo photo'
      'author controls';
    grid-template-columns: 1fr 1fr;
  }

  .photoInfo {
    align-items: flex-end;
  }

  .photoAuthor {
    width: max-content;
    padding-right: 15px;
  }
}
