.wrapper {
  padding: 50px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: var(--greyED);
  height: 90vh;
  margin-top: 62px;
}

@media (min-width: 560px) {
  .wrapper {
    margin-top: 8px;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    margin-top: 0;
  }
}
